@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 8%); 
  --foreground: hsl(0, 0%, 100%); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 8%); 
    --foreground: hsl(0, 0%, 100%); 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, sans-serif;
}

.neon {
  color: #c4f82a;
}